@use './../utils/variables.scss' as v;

.keyboard-wrapper {
  height: calc(60% - 120px);
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.keyboard-wrapper {
  background-color: v.$keypad-background;
  margin: 1.4rem auto;
  padding: 2rem;
  max-width: 650px;
  border-radius: 1rem;
}
@media (max-width: 375px) {
  .keyboard-wrapper {
    margin: 1.5rem;
    grid-gap: 0.8rem;
    height: calc(70% - 120px);
  }
}

.item {
  flex-grow: 1;
  width: calc(25% - 2rem);
  border-radius: 0.8rem;
}
