@use './../utils/variables.scss' as v;

.result {
  display: flex;
  justify-content: right;
  margin: 0 auto;
  padding: 0.5rem 2rem 0 2rem;
  background-color: v.$screen-background;
  color: white;
  max-width: 650px;
  height: auto;
  font-size: 2rem;
  border-radius: 1rem;
}

@media (max-width: 375px) {
  .result {
    margin: 1rem 1.5rem;
    padding: 0.2 1.5rem 0 1.5rem;
    background-color: v.$screen-background;
    color: white;
    max-width: 650px;
    height: auto;
    font-size: 1.3rem;
    border-radius: 1rem;
  }
}
